<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XEBP53EBK0"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-XEBP53EBK0');
    </script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <meta charset="UTF-8">
    <title>Pubudu Premathilaka</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css"
        type="text/css">
    <link rel="stylesheet" href="styles.css">

    <link href='//fonts.googleapis.com/css?family=Roboto:200,400,600' rel='stylesheet' type='text/css'>

    <!-- Certificates stylings -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
    <div class="container" id="main">
        <!--    Hero Section    -->
        <div class="hero-section">
            <div class="row hero-row start-xs between-xs middle-xs">
                <div class="col-sm-7 col-xs-12 first-sm">
                    <div class="hero-text">
                        <div class="hero-name">
                            <h1>
                                Pubudu <br />
                                Premathilaka
                            </h1>
                        </div>
                        <p>
                            I'm a Computer Engineering Undergraduate, Currently Studying in Final Year at Faculty of
                            Engineering, University of Peradeniya, Sri Lanka.
                        </p>
                    </div>
                    <div class="project-links">
                        <a href="https://raw.githubusercontent.com/pubuduudara/pubuduudara.github.io/master/assets/CV/Pubudu_Premathilaka.pdf"
                            target="_blank">
                            My Latest CV <i class="feather-external-link"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-5 col-xs-12 first-xs">
                    <div class="avatar-wrapper">
                        <div class="avatar">
                            <img src="assets/images/me_new.png" alt="Avatar">
                        </div>
                    </div>


                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="hero-technologies">
                        <!-- <h3>Go To</h3> -->
                        <ul>

                            <li><a href="#projects">Projects</a>
                            </li>
                            <li><a href="#awards">Achievements</a>
                            </li>
                            <li><a href="#courses">Courses</a>
                            </li>


                        </ul>

                    </div>
                </div>
            </div>


        </div>


        <!--    Projects    -->
        <div class="section projects-section">
            <h2 class="section-title" id="projects">Projects</h2>

            <!-- Reseach projects-->
            <div class="row">
                <div class="col-xs-12">

                    <div class="project FYP">

                        <div class="row middle-xs">
                            <div class="col-md-5">
                                <h3>Reseach Project</h3>
                                <div class="project-info">
                                    <h4>Accelerating Adaptive Banded Event Alignment Algorithm</h4>
                                    <div class="project-links">
                                        <a href="pages/FYP.html" target="_blank">
                                            Website <i class="feather-external-link"></i>
                                        </a>
                                    </div>
                                    <div class="project-description">
                                        <p></p>
                                        <div class="project-stack">
                                            <!-- <h4>Stack</h4> -->
                                            <p>OpenCL | Stratix V</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="project-image">
                                    <img src="assets/images/projects/FYP/sequencing-animated_0.gif"
                                        alt="Sheep83 screenshot">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--    FEM -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="project cucuit">
                        <div class="row middle-xs">
                            <div class="col-md-5">
                                <h3>Reseach Project</h3>
                                <div class="project-info">
                                    <h4>Finite Element Based Structural Analysis Software</h4>
                                    <div class="project-links">

                                        <a href="pages/FEM.html" target="_blank">
                                            Website <i class="feather-external-link"></i>
                                        </a>
                                    </div>
                                    <div class="project-description">
                                        <p>A simple platform to share open virtual meetups.</p>
                                        <div class="project-stack">
                                            <!-- <h4>Stack</h4> -->
                                            <p>Python | MATLAB | NumPy</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="project-image">
                                    <img src="assets/images/projects/FEM/cover4.gif" alt="CUCUit screenshot">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--    Sheep83    -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="project sheep83">
                        <div class="row middle-xs">
                            <div class="col-md-5">
                                <div class="project-info">
                                    <h4>IIoT Based Intelligent Road Traffic Controlling System</h4>
                                    <div class="project-links">
                                        <a href="pages/IRTCS.html" target="_blank">
                                            Website <i class="feather-external-link"></i>
                                        </a>
                                    </div>
                                    <div class="project-description">
                                        <p></p>
                                        <div class="project-stack">
                                            <!-- <h4>Stack</h4> -->
                                            <p>Python | MQTT | Arduino | Raspberry pi | ESP32 | MySQL</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="project-image">
                                    <img src="assets/images/projects/Traffic light system/cover5.jpg" width="250"
                                        height="121" alt="Sheep83 screenshot">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





            <div class="row">
                <div class="col-xs-12">
                    <div class="project sheep83">
                        <div class="row middle-xs">
                            <div class="col-md-5">
                                <div class="project-info">
                                    <h4>Real-Time Vehicle Identification System Using Image Processing</h4>
                                    <div class="project-links">
                                        <!-- <a href="" target="_blank">
                                            Website <i class="feather-external-link"></i>
                                        </a> -->
                                    </div>
                                    <div class="project-description">
                                        <p></p>
                                        <div class="project-stack">
                                            <!-- <h4>Stack</h4> -->
                                            <p>Python | PyQt | MySQL</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="project-image">
                                    <img src="assets/images/projects/Image processing/6ccbb8dfd3722d4be5fed969e7b845b5.jpg"
                                        width="250" height="300" alt="Sheep83 screenshot">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--    Pera SAP-I  -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="project shuttle-finder">
                        <div class="row middle-xs">
                            <div class="col-md-5">
                                <div class="project-info">
                                    <h4>Pera SAP-I</h4>
                                    <div class="project-links">

                                        <a href="pages/Pera_SAP.html" target="_blank">
                                            Website <i class="feather-external-link"></i>
                                        </a>
                                    </div>
                                    <div class="project-description">
                                        <!-- <p>Mobile app to find, call & rate taxis in my home region South Tyrol.</p> -->
                                        <div class="project-stack">
                                            <!-- <h4>Stack</h4> -->
                                            <!-- <p>TypeScript | Ionic | Angular | HTML5 | SCSS<br>NestJs | CouchDB</p> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <!-- <div class="project-image">
                                    <img src="assets/images/projects/Pera-Sap/cover3-01-01.png"
                                        alt="Shuttle Finder screenshot">
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>

        <div class="history-tl-container">
            <h2 class="section-title" id="awards">Awards and Honors</h2>
            <ul class="tl">
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                        2019<br>
                    </div>
                    <div class="item-title">1st Runner-up in Pre-Xtreme v1.0
                    </div>
                    <div class="item-detail">Inter University Coding Compention hosted by dept of Computer Engieerring,
                        University of Peradeniya <br> Team: JPAC</div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                        2019
                    </div>
                    <div class="item-title">27th County Rank & 476th Global Rank in IEEEXtreme 13.0</div>
                    <div class="item-detail">Global 24hr Competitive Programming Competition <br> Team: JPAC</div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                        2019
                    </div>
                    <div class="item-title">2nd Runner-up in Pre Coders v8.0</div>
                    <div class="item-detail">Inter University Coding Compention hosted by dept of Computer Engieerring,
                        University of Peradeniya <br> Team: JPAC</div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                        2019
                    </div>
                    <div class="item-title">Winners of Medical and Healthcare Category in ACES Hackathon</div>
                    <div class="item-detail">Intra University hackathon hosted by Association of Computer Engineering
                        Students, University of Peradeniya <br>Project: TinyPod </div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                        2018
                    </div>
                    <div class="item-title">1st Runner-up in Pre Coders v7.0</div>
                    <div class="item-detail">Inter University Coding Compention hosted by dept of Computer Engieerring,
                        University of Peradeniya <br> Team: JPAC</div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                        2018
                    </div>
                    <div class="item-title">4th Team Ranking Runner-up in ACES Coders v7.0</div>
                    <div class="item-detail">Inter University Coding Compention hosted by dept of Computer Engieerring,
                        University of Peradeniya <br> Team: JPAC</div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                        2018
                    </div>
                    <div class="item-title">Awarded for the Most Popular idea in ACES Hackathon</div>
                    <div class="item-detail">Intra University hackathon hosted by Association of Computer Engineering
                        Students, University of Peradeniya <br> Project: Data Over Sound</div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                        2018
                    </div>
                    <div class="item-title">Semi-finalists in Xbotix 2018</div>
                    <div class="item-detail">Competitive Robotics competition hosted by the Faculty of Engineering
                        University
                        of Ruhuna Sri Lanka. Our robot qualified for the final round among 35 teams <br> Robot: Minotaur
                    </div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                        2018
                    </div>
                    <div class="item-title">Top 10 finalist in Sri lankan Robotics Challenge(SLRC)</div>
                    <div class="item-detail">Qualified to the top 10 final teams in SLRC hosted by University of
                        Moratuwa Sri Lanka <br> Robot: Flying Dutchman
                    </div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                        2017
                    </div>
                    <div class="item-title">Winners in Dialog App Challenge Launched by Dialog Axiata</div>

                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                        2015
                    </div>
                    <div class="item-title">GCE Advanced Level Examination</div>
                    <div class="item-detail">National rank 714, District Rank 47
                    </div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                        2015
                    </div>
                    <div class="item-title">GCE Ordinary Level Examination</div>
                    <div class="item-detail"> 9As and B
                    </div>
                </li>





            </ul>

        </div>

        <div class="section projects-section">
            <h2 class="section-title" id="courses">Courses</h2>
            <table id="customers">
                <tr>
                    <th>Type</th>
                    <th>Code</th>
                    <th>Course</th>
                    <!-- <th>Comment</th> -->
                </tr>




                <!-- -------------------------------------------------------------------- -->

                <tr>
                    <th rowspan="7">Mathematics</th>
                    <td>GP103</td>
                    <td>Mathematics 1</td>
                    <!-- <td>Real analysis</td> -->
                </tr>

                <tr>


                    <td>GP104</td>
                    <td>Mathematics 2</td>
                    <!-- <td>Linear algebra</td> -->

                </tr>
                <tr>
                    <td>EM201</td>
                    <td>Mathematics 3 </td>
                    <!-- <td>Ordinary differential equations, probability </td> -->

                </tr>
                <tr>
                    <td>EM202</td>
                    <td>Mathematics 4 </td>
                    <!-- <td>Statistics, vector calculus
                    </td> -->

                </tr>
                <tr>
                    <td>EM313</td>
                    <td>Discrete Mathematics </td>
                    <!-- <td>GP103</td> -->

                </tr>
                <tr>
                    <td>EM314</td>
                    <td>Numerical Analysis </td>
                    <!-- <td>GP103</td> -->

                </tr>



                <tr>
                    <td>EM527 </td>
                    <td>Operational Research 1 </td>
                    <!-- <td>Fourier based, analytical and numerical solutions</td> -->

                </tr>




                <!-- -------------------------------------------------------------------- -->


                <tr>
                    <th rowspan="9">Computer Courses</th>
                    <td>GP106</td>
                    <td>Computing </td>
                    <!-- <td>Numerical computing packages</td> -->
                </tr>

                <tr>


                    <td>CO221</td>
                    <td>Logic networks </td>
                    <!-- <td>Linear algebra</td> -->

                </tr>
                <tr>
                    <td>CO222</td>
                    <td>Programming Methodology </td>
                    <!-- <td>Ordinary differential equations, probability </td> -->

                </tr>


                <tr>
                    <td>CO224</td>
                    <td>Computer Architecture </td>
                    <!-- <td>Ordinary differential equations, probability </td> -->

                </tr>
                <tr>
                    <td>CO225</td>
                    <td>Software Construction </td>
                    <!-- <td>Ordinary differential equations, probability </td> -->

                </tr>

                <tr>
                    <td>CO321</td>
                    <td>Embedded Systems </td>
                    <!-- <td>Ordinary differential equations, probability </td> -->

                </tr>

                <tr>
                    <td>CO322</td>
                    <td>Data Structures & Algorithms </td>
                    <!-- <td>Ordinary differential equations, probability </td> -->

                </tr>



                <tr>
                    <td>CO326</td>
                    <td>Computer Systems Engineering </td>
                    <!-- <td>Ordinary differential equations, probability </td> -->

                </tr>
                <tr>
                    <td>CO327</td>
                    <td>Operating Systems </td>
                    <!-- <td>Ordinary differential equations, probability </td> -->

                </tr>



                <tr>
                    <th rowspan="3">Software Engineering </th>
                    <td>CO328</td>
                    <td>Software Engineering</td>
                    <!-- <td>Numerical computing packages</td> -->
                </tr>

                <tr>

                    <td>CO528</td>
                    <td>Applied Software Architecture</td>
                    <!-- <td>Numerical computing packages</td> -->
                </tr>

                <tr>
                    <td>CO324</td>
                    <td>Network & Web Application Design </td>
                    <!-- <td>Ordinary differential equations, probability </td> -->

                </tr>

                <tr>
                    <th rowspan="2">Database </th>
                    <td>CO226</td>
                    <td>Database Systems</td>
                    <!-- <td>Numerical computing packages</td> -->
                </tr>

                <tr>

                    <td>CO527</td>
                    <td>Advanced Database Systems</td>
                    <!-- <td>Numerical computing packages</td> -->
                </tr>

                <tr>
                    <th rowspan="3">ML & AI </th>
                    <td>CO544</td>
                    <td>Machine Learning and Data Mining</td>
                    <!-- <td>Numerical computing packages</td> -->
                </tr>

                <tr>

                    <td>CO541</td>
                    <td>Artificial Intelligence</td>
                    <!-- <td>Numerical computing packages</td> -->
                </tr>

                <tr>

                    <td>CO542</td>
                    <td>Neural Networks and Fuzzy Systems</td>
                    <!-- <td>Numerical computing packages</td> -->
                </tr>

                <tr>
                    <th rowspan="4">Network & Security </th>
                    <td>CO223</td>
                    <td>Computer Communication Networks 1 </td>
                    <!-- <td>Numerical computing packages</td> -->
                </tr>

                <tr>

                    <td>CO323</td>
                    <td>Computer Communication Networks 2</td>
                    <!-- <td>Numerical computing packages</td> -->
                </tr>

                <tr>

                    <td>CO513</td>
                    <td>Advanced Computer Communication Networks </td>
                    <!-- <td>Numerical computing packages</td> -->
                </tr>

                <tr>

                    <td>CO325</td>
                    <td>Computer and Network Security </td>
                    <!-- <td>Numerical computing packages</td> -->
                </tr>



                <tr>
                    <th rowspan="4">Electrical & Electronics</th>
                    <td>EE282</td>
                    <td>Network Analysis </td>
                    <!-- <td>Numerical computing packages</td> -->
                </tr>

                <tr>


                    <td>EE285</td>
                    <td>Electronics 1 </td>
                    <!-- <td>Linear algebra</td> -->

                </tr>
                <tr>
                    <td>EE386</td>
                    <td>Electronic Devices & Circuits 2 </td>
                    <!-- <td>Ordinary differential equations, probability </td> -->

                </tr>
                <tr>
                    <td>EE387</td>
                    <td>Signal Processing </td>
                    <!-- <td>Ordinary differential equations, probability </td> -->

                </tr>

                <!-- ------------------------------------------------ -->
                <tr>
                    <th rowspan="3">Research Courses </th>
                    <td>CO227</td>
                    <td>Computer Engineering Project </td>
                    <!-- <td>Numerical computing packages</td> -->
                </tr>

                <tr>


                    <td>CO421</td>
                    <td>Final Year Project 1 </td>
                    <!-- <td>Linear algebra</td> -->

                </tr>
                <tr>


                    <td>CO425</td>
                    <td>Final Year Project 2 </td>
                    <!-- <td>Linear algebra</td> -->

                </tr>


                <!-- -------------------------- ---------------------------------->

                <tr>
                    <th rowspan="6">Technical courses </th>
                    <td>GP109</td>
                    <td>Material Science </td>
                    <!-- <td>Numerical computing packages</td> -->
                </tr>

                <tr>


                    <td>GP110</td>
                    <td>Engineering Mechanics </td>
                    <!-- <td>Linear algebra</td> -->

                </tr>
                <tr>
                    <td>GP111</td>
                    <td>Elementary Thermodynamic </td>
                    <!-- <td>Ordinary differential equations, probability </td> -->

                </tr>
                <tr>
                    <td>GP112</td>
                    <td>Engineering Measurements </td>
                    <!-- <td>Ordinary differential equations, probability </td> -->

                </tr>

                <tr>
                    <td>GP113</td>
                    <td>Fundamentals of Manufacture </td>
                    <!-- <td>Ordinary differential equations, probability </td> -->

                </tr>

                <tr>
                    <td>GP114</td>
                    <td>Engineering Drawing </td>
                    <!-- <td>Ordinary differential equations, probability </td> -->

                </tr>
                <!-- ------------------------------------------------ -->
                <tr>
                    <th rowspan="10">General Courses</th>
                    <td>GP101</td>
                    <td>English 1 </td>
                    <!-- <td>Numerical computing packages</td> -->
                </tr>

                <tr>


                    <td>GP102</td>
                    <td>English 2 </td>
                    <!-- <td>Linear algebra</td> -->

                </tr>
                <tr>
                    <td>EF501</td>
                    <td>Engineer in Society </td>
                    <!-- <td>Ordinary differential equations, probability </td> -->

                </tr>
                <tr>
                    <td>EF509</td>
                    <td>Engineer as an Entrepreneur </td>
                    <!-- <td>Ordinary differential equations, probability </td> -->

                </tr>
                <tr>
                    <td>EF524</td>
                    <td>Bussiness Law </td>
                    <!-- <td>Ordinary differential equations, probability </td> -->

                </tr>
                <tr>
                    <td>CO422</td>
                    <td>Professional Practices</td>
                    <!-- <td>Ordinary differential equations, probability </td> -->

                </tr>
                <tr>
                    <td>CO423</td>
                    <td>Software Project Management </td>
                    <!-- <td>Ordinary differential equations, probability </td> -->

                </tr>
                <tr>
                    <td>CO424</td>
                    <td>Information Systems Management </td>
                    <!-- <td>Ordinary differential equations, probability </td> -->

                </tr>

                <tr>
                    <td>EF528</td>
                    <td>Introduction to Digital Art </td>
                    <!-- <td>Ordinary differential equations, probability </td> -->

                </tr>



            </table>
        </div>

        <!-- <div class="container">
            <h2 class="section-title" id="courses">Certificates</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-xs-3 col-md-3 text-center">
                                <img src="assets/icons/Stanford-Logo.png" width="200" height="150" alt="Stanford-Logo"
                                    class="img-rounded img-responsive" />
                            </div>
                            <div class="col-xs-9 col-md-9 section-box">
                                <h4>
                                    Machine Learning <a href="http://bootsnipp.com/" target="_blank"></a>
                                </h4>
                                <p>
                                    Design elements, playground and code snippets for Bootstrap HTML/CSS/JS framework
                                </p>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-xs-3 col-md-3 text-center">
                                <img src="assets/icons/Stanford-Logo.png" width="200" height="150" alt="Stanford-Logo"
                                    class="img-rounded img-responsive" />
                            </div>
                            <div class="col-xs-9 col-md-9 section-box">
                                <h4>
                                    Machine Learning <a href="http://bootsnipp.com/" target="_blank"></a>
                                </h4>
                                <p>
                                    Design elements, playground and code snippets for Bootstrap HTML/CSS/JS framework
                                </p>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-xs-3 col-md-3 text-center">
                                <img src="assets/icons/Stanford-Logo.png" width="200" height="150" alt="Stanford-Logo"
                                    class="img-rounded img-responsive" />
                            </div>
                            <div class="col-xs-9 col-md-9 section-box">
                                <h4>
                                    Machine Learning <a href="http://bootsnipp.com/" target="_blank"></a>
                                </h4>
                                <p>
                                    Design elements, playground and code snippets for Bootstrap HTML/CSS/JS framework
                                </p>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-xs-3 col-md-3 text-center">
                                <img src="assets/icons/Stanford-Logo.png" width="200" height="150" alt="Stanford-Logo"
                                    class="img-rounded img-responsive" />
                            </div>
                            <div class="col-xs-9 col-md-9 section-box">
                                <h4>
                                    Machine Learning <a href="http://bootsnipp.com/" target="_blank"></a>
                                </h4>
                                <p>
                                    Design elements, playground and code snippets for Bootstrap HTML/CSS/JS framework
                                </p>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-xs-3 col-md-3 text-center">
                                <img src="assets/icons/Stanford-Logo.png" width="200" height="150" alt="Stanford-Logo"
                                    class="img-rounded img-responsive" />
                            </div>
                            <div class="col-xs-9 col-md-9 section-box">
                                <h4>
                                    Machine Learning <a href="http://bootsnipp.com/" target="_blank"></a>
                                </h4>
                                <p>
                                    Design elements, playground and code snippets for Bootstrap HTML/CSS/JS framework
                                </p>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-xs-3 col-md-3 text-center">
                                <img src="assets/icons/Stanford-Logo.png" width="200" height="150" alt="Stanford-Logo"
                                    class="img-rounded img-responsive" />
                            </div>
                            <div class="col-xs-9 col-md-9 section-box">
                                <h4>
                                    Machine Learning <a href="http://bootsnipp.com/" target="_blank"></a>
                                </h4>
                                <p>
                                    Design elements, playground and code snippets for Bootstrap HTML/CSS/JS framework
                                </p>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

 -->






        <!--    Contact    -->
        <div class="section contact-section">
            <h2 class="section-title" id="contact">Contact</h2>
            <div class="row">
                <div class="col-xs-12">
                    <p class="section-text">
                        Want to work together, ask something or say hi? Shoot me a message.
                    </p>
                    <a href="mailto:pubudu.premathilaka@eng.pdn.ac.lk"
                        class="mail-link">pubudu.premathilaka@eng.pdn.ac.lk</a>
                </div>
            </div>
        </div>
    </div>

    <div class="social-links" id="social-links">
        <a href="#main">
            <i class="feather-chevrons-up"></i>
        </a>
        <a href="https://github.com/pubuduudara" target="_blank">
            <i class="feather-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/pubuduudara/" target="_blank">
            <i class="feather-linkedin"></i>
        </a>
        <a href="mailto:pubudu.premathilaka@eng.pdn.ac.lk" target="_blank">
            <i class="feather-mail"></i>
        </a>
    </div>


    <!--    Footer  -->
    <div class="footer">
        <div class="row center-xs">
            <div class="col-xs-12">
                <a href="https://github.com/pubuduudara" target="_blank">
                    <i class="feather-github"></i>
                </a>

            </div>
        </div>
    </div>

    <script src="src/main.js"></script>
</body>

</html>