<!DOCTYPE html>
<html lang="en">

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-06M749L5FY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-06M749L5FY');
    </script>
    <meta charset="UTF-8">
    <title>Pubudu Premathilaka</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css"
        type="text/css">
    <link rel="stylesheet" href="styles.css">

    <link href='//fonts.googleapis.com/css?family=Roboto:200,400,600' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="container" id="main">
        <!--    Hero Section    -->
        <div class="hero-section">
            <div class="row hero-row start-xs between-xs middle-xs">
                <div class="col-sm-7 col-xs-12 first-sm">
                    <div class="hero-text">
                        <div class="hero-name">
                            <h1>
                                Pubudu <br />
                                Premathilaka
                            </h1>
                        </div>
                        <p>
                            I'm a Computer Engineering Undergraduate, Currently Studying in Final Year at Faculty of
                            Engineering, University of Peradeniya, Sri Lanka.
                        </p>
                    </div>
                    <div class="project-links">
                        <a href="https://raw.githubusercontent.com/pubuduudara/pubuduudara.github.io/master/assets/CV/Pubudu_Premathilaka.pdf"
                            target="_blank">
                            My Latest CV <i class="feather-external-link"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-5 col-xs-12 first-xs">
                    <div class="avatar-wrapper">
                        <div class="avatar">
                            <img src="assets/images/me_new.png" alt="Avatar">
                        </div>
                    </div>


                </div>
            </div>

        </div>

        <!--    Projects    -->
        <div class="section projects-section">
            <h2 class="section-title" id="projects">Projects</h2>

            <!-- Reseach projects-->
            <div class="row">
                <div class="col-xs-12">

                    <div class="project FYP">

                        <div class="row middle-xs">
                            <div class="col-md-5">
                                <h3>Reseach Project</h3>
                                <div class="project-info">
                                    <h4>Accelerating Adaptive Banded Event Alignment Algorithm</h4>
                                    <div class="project-links">
                                        <a href="pages/FYP.html" target="_blank">
                                            Website <i class="feather-external-link"></i>
                                        </a>
                                    </div>
                                    <div class="project-description">
                                        <p></p>
                                        <div class="project-stack">
                                            <!-- <h4>Stack</h4> -->
                                            <p>OpenCL | Stratix V</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="project-image">
                                    <img src="assets/images/projects/FYP/sequencing-animated_0.gif"
                                        alt="Sheep83 screenshot">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--    FEM -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="project cucuit">
                        <div class="row middle-xs">
                            <div class="col-md-5">
                                <h3>Reseach Project</h3>
                                <div class="project-info">
                                    <h4>Finite Element Based Structural Analysis Software</h4>
                                    <div class="project-links">

                                        <a href="pages/FEM.html" target="_blank">
                                            Website <i class="feather-external-link"></i>
                                        </a>
                                    </div>
                                    <div class="project-description">
                                        <p>A simple platform to share open virtual meetups.</p>
                                        <div class="project-stack">
                                            <!-- <h4>Stack</h4> -->
                                            <p>Python | MATLAB | NumPy</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="project-image">
                                    <img src="assets/images/projects/FEM/cover4.gif" alt="CUCUit screenshot">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--    Sheep83    -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="project sheep83">
                        <div class="row middle-xs">
                            <div class="col-md-5">
                                <div class="project-info">
                                    <h4>IIoT Based Intelligent Road Traffic Controlling System</h4>
                                    <div class="project-links">
                                        <a href="pages/IRTCS.html" target="_blank">
                                            Website <i class="feather-external-link"></i>
                                        </a>
                                    </div>
                                    <div class="project-description">
                                        <p></p>
                                        <div class="project-stack">
                                            <!-- <h4>Stack</h4> -->
                                            <p>Python | MQTT | Arduino | Raspberry pi | ESP32 | MySQL</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="project-image">
                                    <img src="assets/images/projects/Traffic light system/cover5.jpg" width="250"
                                        height="121" alt="Sheep83 screenshot">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





            <div class="row">
                <div class="col-xs-12">
                    <div class="project sheep83">
                        <div class="row middle-xs">
                            <div class="col-md-5">
                                <div class="project-info">
                                    <h4>Real-Time Vehicle Identification System Using Image Processing</h4>
                                    <div class="project-links">
                                        <!-- <a href="" target="_blank">
                                            Website <i class="feather-external-link"></i>
                                        </a> -->
                                    </div>
                                    <div class="project-description">
                                        <p></p>
                                        <div class="project-stack">
                                            <!-- <h4>Stack</h4> -->
                                            <p>Python | PyQt | MySQL</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="project-image">
                                    <img src="assets/images/projects/Image processing/6ccbb8dfd3722d4be5fed969e7b845b5.jpg"
                                        width="250" height="300" alt="Sheep83 screenshot">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--    Pera SAP-I  -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="project shuttle-finder">
                        <div class="row middle-xs">
                            <div class="col-md-5">
                                <div class="project-info">
                                    <h4>Pera SAP-I</h4>
                                    <div class="project-links">

                                        <a href="pages/Pera_SAP.html" target="_blank">
                                            Website <i class="feather-external-link"></i>
                                        </a>
                                    </div>
                                    <div class="project-description">
                                        <!-- <p>Mobile app to find, call & rate taxis in my home region South Tyrol.</p> -->
                                        <div class="project-stack">
                                            <!-- <h4>Stack</h4> -->
                                            <!-- <p>TypeScript | Ionic | Angular | HTML5 | SCSS<br>NestJs | CouchDB</p> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <!-- <div class="project-image">
                                    <img src="assets/images/projects/Pera-Sap/cover3-01-01.png"
                                        alt="Shuttle Finder screenshot">
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--############################### Timeline -->

            <!-- <div class="container mt-5 mb-5">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <h4>Latest News</h4>
                        <ul class="timeline">
                            <li>
                                <a target="_blank" href="https://www.totoprayogo.com/#">New Web Design</a>
                                <a href="#" class="float-right">21 March, 2014</a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non
                                    nisi semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis
                                    sagittis ligula in sodales vehicula....</p>
                            </li>
                            <li>
                                <a href="#">21 000 Job Seekers</a>
                                <a href="#" class="float-right">4 March, 2014</a>
                                <p>Curabitur purus sem, malesuada eu luctus eget, suscipit sed turpis. Nam pellentesque
                                    felis vitae justo accumsan, sed semper nisi sollicitudin...</p>
                            </li>
                            <li>
                                <a href="#">Awesome Employers</a>
                                <a href="#" class="float-right">1 April, 2014</a>
                                <p>Fusce ullamcorper ligula sit amet quam accumsan aliquet. Sed nulla odio, tincidunt
                                    vitae nunc vitae, mollis pharetra velit. Sed nec tempor nibh...</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> -->



        </div>

        <div class="history-tl-container">
            <h2 class="section-title" id="about">Awards and Honors</h2>
            <ul class="tl">
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                        2019<br>
                    </div>
                    <div class="item-title">1st Runner-up in Pre-Xtreme v1.0
                    </div>
                    <div class="item-detail">Inter University Coding Compention hosted by dept of Computer Engieerring,
                        University of Peradeniya <br> Team: JPAC</div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                        2019
                    </div>
                    <div class="item-title">27th County Rank & 476th Global Rank in IEEEXtreme 13.0</div>
                    <div class="item-detail">Global 24hr Competitive Programming Competition <br> Team: JPAC</div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                        2019
                    </div>
                    <div class="item-title">2nd Runner-up in Pre Coders v8.0</div>
                    <div class="item-detail">Inter University Coding Compention hosted by dept of Computer Engieerring,
                        University of Peradeniya <br> Team: JPAC</div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                        2019
                    </div>
                    <div class="item-title">Winners of Medical and Healthcare Category in ACES Hackathon</div>
                    <div class="item-detail">Intra University hackathon hosted by Association of Computer Engineering
                        Students, University of Peradeniya <br>Project: TinyPod </div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                        2018
                    </div>
                    <div class="item-title">1st Runner-up in Pre Coders v7.0</div>
                    <div class="item-detail">Inter University Coding Compention hosted by dept of Computer Engieerring,
                        University of Peradeniya <br> Team: JPAC</div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                        2018
                    </div>
                    <div class="item-title">4th Team Ranking Runner-up in ACES Coders v7.0</div>
                    <div class="item-detail">Inter University Coding Compention hosted by dept of Computer Engieerring,
                        University of Peradeniya <br> Team: JPAC</div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                        2018
                    </div>
                    <div class="item-title">Awarded for the Most Popular idea in ACES Hackathon</div>
                    <div class="item-detail">Intra University hackathon hosted by Association of Computer Engineering
                        Students, University of Peradeniya <br> Project: Data Over Sound</div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                        2018
                    </div>
                    <div class="item-title">Semi-finalists in Xbotix 2018</div>
                    <div class="item-detail">Competitive Robotics competition hosted by the Faculty of Engineering
                        University
                        of Ruhuna Sri Lanka. Our robot qualified for the final round among 35 teams <br> Robot: Minotaur
                    </div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                        2018
                    </div>
                    <div class="item-title">Top 10 finalist in Sri lankan Robotics Challenge(SLRC)</div>
                    <div class="item-detail">Qualified to the top 10 final teams in SLRC hosted by University of
                        Moratuwa Sri Lanka <br> Robot: Flying Dutchman
                    </div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                        2017
                    </div>
                    <div class="item-title">Winners in Dialog App Challenge Launched by Dialog Axiata</div>

                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                        2015
                    </div>
                    <div class="item-title">GCE Advanced Level Examination</div>
                    <div class="item-detail">National rank 714, District Rank 47
                    </div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                        2015
                    </div>
                    <div class="item-title">GCE Ordinary Level Examination</div>
                    <div class="item-detail"> 9As and B
                    </div>
                </li>





            </ul>

        </div>






        <!--    About Me    -->
        <!-- <div class="section about-section">
            <h2 class="section-title" id="about">About Me</h2>
            <div class="row between-xs middle-xs">
                <div class="col-md-6 about-text-col">
                   
                    <p class="section-text">
                        Currently, I study for my master's degree in Information Systems at the Technical University of
                        Munich & work on our startup project Nylos. In the past four years, I've worked on multiple
                        freelance and personal projects from web to mobile
                        apps.
                    </p>
                    <p class="section-text">
                        Besides software development, I'm passionate about cooking and djing.
                    </p>
                </div>
                <div class="col-md-6 about-image-col">
                    <div class="about-image">
                        <img src="assets/images/portrait.jpg" alt="Portrait">
                    </div>
                </div>
            </div>
        </div> -->

        <!--    Contact    -->
        <div class="section contact-section">
            <h2 class="section-title" id="contact">Contact</h2>
            <div class="row">
                <div class="col-xs-12">
                    <p class="section-text">
                        Want to work together, ask something or say hi? Shoot me a message.
                    </p>
                    <a href="mailto:pubudu.premathilaka@eng.pdn.ac.lk"
                        class="mail-link">pubudu.premathilaka@eng.pdn.ac.lk</a>
                </div>
            </div>
        </div>
    </div>

    <div class="social-links" id="social-links">
        <a href="https://github.com/pubuduudara" target="_blank">
            <i class="feather-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/pubuduudara/" target="_blank">
            <i class="feather-linkedin"></i>
        </a>
        <a href="mailto:pubudu.premathilaka@eng.pdn.ac.lk" target="_blank">
            <i class="feather-mail"></i>
        </a>
    </div>


    <!--    Footer  -->
    <div class="footer">
        <div class="row center-xs">
            <div class="col-xs-12">
                <a href="https://github.com/pubuduudara" target="_blank">
                    <i class="feather-github"></i>
                </a>

            </div>
        </div>
    </div>

    <script src="src/main.js"></script>
</body>

</html>